@import "tailwindcss";

@theme {
  --color-primary: #070707;
  --color-secondary: #323232;
  --color-tertiary: #3a3a3a;
  --color-quaternary: #434343;
  --color-quinary: #919191;
}

@media (min-width: 768px) {
  .md-hover-animation {
    display: inline-block;
    position: relative;
  }

  .md-hover-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .md-hover-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
